<div class="admin-main-container">
  <%= render 'layouts/adminleftnav' %>
  <div class="admin-management-right-container w-75">
    <h1 class="admin-management-heading">Holidays Management</h1>
    <div class="admin-management-search-container">
      <%= link_to "Add New Holiday", new_holiday_path,  class: "btn admin-add-new-button", data: { turbo_frame: "remote_modal" } %>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Holiday" aria-label="Search">
        <button class="btn admin-search-button" type="submit">Search</button>
      </form>
    </div>
    <div class="w-100">
      <table class="table-container w-100">
        <tr class="t-header-cotainer">
            <th>Holiday Name</th>
            <th>Holiday Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% @holidays.each do |holiday| %>
            <tr class="t-sub-container">
                <td>
                <%= holiday.name %>
                </td>
                <td>
                <%= holiday.date %>
                </td>
                <td>
                <%= link_to "", edit_holiday_path(holiday), class: "btn bi bi-pencil-square edit-button", data: { turbo_frame: "remote_modal" } %> 
                </td>   
                <td>
                <%= button_to "", holiday_path(holiday),  class: "btn bi bi-trash text-danger", method: :delete %>
                </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>