<div class="admin-main-container">
  <%= render 'layouts/adminleftnav' %>
  <div class="admin-management-right-container w-75">
    <h1 class="admin-management-heading">Role Management</h1>
    <div class="admin-management-search-container">
      <%= link_to "Add New Role", new_role_path, class: "btn admin-add-new-button", data: { turbo_frame: "remote_modal" } %>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Role" aria-label="Search">
        <button class="btn admin-search-button" type="submit">Search</button>
      </form>
    </div>
    <div class="w-100">
      <table class="table-container w-100">
        <tr class="t-header-cotainer">
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% @roles.each do |r| %>
            <tr class="t-sub-container">
                <td>
                <%= r.name %>
                </td>
                <td>
                <%= r.description %>
                </td>
                <td>
                <%= link_to "", edit_role_path(r), class: "btn bi bi-pencil-square edit-button", data: { turbo_frame: "remote_modal" } %>
                </td>   
                <td>
                <%= button_to "", role_path(r),  class: "btn bi bi-trash text-danger", method: :delete %>
                </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>