<div class="designation-form-cont">
  <h2>Attendance</h2>
  <%= form_with model:@attendance do  |f| %>
    

    <% if params[:action] == "new" %>
      <div class="field-form">
        <%= f.label :login %><br />
        <%= f.datetime_field :login, autofocus: true, autocomplete: "login" %>
      </div>
    <% end %>

    <% if params[:action] == "edit" %>
      <div class="field-form">
        <%= f.label :logout %><br />
        <%= f.datetime_field :logout, autofocus: true, autocomplete: "logout" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Save",class: "save-button" %>
    </div> 
  <% end %>
</div>