<div class="admin-left-nav-container">
  <%= link_to "Employees Management", employees_path, class: "admin-left-buttons"%>
  <%= link_to "Leaves Management", leave_types_path, class: "admin-left-buttons"%>
  <%= link_to "Designation Management", designations_path, class: "admin-left-buttons"%>
  <%= link_to "Holidays Management", holidays_path, class: "admin-left-buttons"%>
  <%= link_to "Project Management", root_path, class: "admin-left-buttons"%>
</div>